<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="for Sale">
    <listeners>
        <listener class-name="for_sale_app.utilities.listeners.TestNGListener"/>
    </listeners>

    <test name="Add Advertisement">
        <classes>
            <class name="for_sale_app.utilities.extent_report.ExtentReport"/>
            <class name="for_sale_app.base_screen.BaseScreen"/>
            <class name="for_sale_app.tests.add_advertisement.AddAdvertisementRunner"/>
        </classes>
    </test>
</suite>